body{
    width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #f5f5f5;
}

h1{
    font-size: 50px;
    font-family: serif;
    color: rgb(19 102 135);
}

div{
    width: 80%;
    margin: 20px auto;
    background-color: rgb(19 102 135);
    padding: 10px 20px;
    color: white;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(0,0, 0, 30%);
}

div h3{
    font-size: 30px;
    margin: 0;
}

.left-fade{
    position: relative;
    opacity: 1;
    transform: translateX(100vw);
    transition: all 3s;
}

.right-fade{
    position: relative;
    opacity: 1;
    transform: translateX(-100vw);
    transition: all 3s;
}

.active{
    transform: translateX(0);
}